<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CapAIXML">
        <activity
            android:name=".SignUpScreen"
            android:exported="false" />
        <activity
            android:name=".LoginScreen"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="false" />
        <activity
            android:name=".EditCaptionScreen"
            android:exported="false" />
        <activity
            android:name=".AutoCaptionScreen"
            android:exported="false" />
        <activity
            android:name=".GeneratingCaptionScreen"
            android:exported="false" />
        <activity
            android:name=".BottomSheetCaptionTranslation"
            android:exported="false" />
        <activity
            android:name=".ImageDetailsScreen"
            android:exported="false" />
        <activity
            android:name=".ImageCaptionPreferencesScreen"
            android:exported="false" />
        <activity
            android:name=".SelectVideoScreen"
            android:exported="false" />
        <activity
            android:name=".SelectImageScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>